version: '3.8'

services:
  # 1. El Almacén de Recetas (MongoDB)
  mongodb:
    image: mongo:latest
    container_name: microflow-mongodb
    restart: always
    ports:
      - "27017:27017" # Puerto estándar de MongoDB
    volumes:
      - mongo_data:/data/db

# 2. El Intermediario de Mensajes (Mosquitto - Broker MQTT)
  mqtt:
    image: eclipse-mosquitto
    container_name: microflow-mqtt-broker
    restart: always
    ports:
      - "1883:1883"
    volumes: # <-- VOLVEMOS A AÑADIR VOLUMES
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf # <-- Mapeo del archivo de config

volumes:
  mongo_data: